agentql==0.5.3
fastapi==0.112.0
numpy==2.0.1
openai==1.40.3
playwright==1.45.0
pyautogui==0.9.54
python-dotenv==1.0.1
Requests==2.32.3
sounddevice==0.4.7
soundfile==0.12.1
uvicorn==0.30.5

django-admin startproject Duality_django